body {
	background-color: F8FAE5;
	margin: 0;
	font-family: "Poppins", sans-serif;
	height: 100vh;
	}

  .container {
	display: flex;
	align-items: center;
	height: 100vh;
	overflow: hidden;
  }
  
  .scroll {
	white-space: nowrap;
	margin: 0 2em;
  }
  
  .scroll div {
	display: flex;
	gap: 2em;
  }
  
  .scroll p {
	font-size: 9em;
	color: #76453B;
	font-weight: bold;
	margin-bottom: 0%;
	line-height: 10px;
  }
  
  .RightToLeft {
	animation: RightToLeft 10s infinite linear;
  }
  
  @keyframes  RightToLeft {
	from {
	  transform: translateX(0%);
	}
	to {
	  transform: translateX(-50%);
	}
  }
  
  .LeftToRight {
	animation: LeftToRight 10s infinite linear;
  }
  
  @keyframes  LeftToRight {
	from {
	  transform: translateX(-50%);
	}
	to {
	  transform: translateX(0%);
	}
  }

  .linkedin-link {
	position: absolute;
	top: 11em;
	right: -1.15em;
	transform: translateY(-50%) rotate(-90deg) scale(1); /* Ajoute la fonction scale pour définir la taille de l'élément */
	color: #B17566;
	font-size: 1.75em;
	text-decoration: none;
	transition: transform 0.5s ease-in-out; /* Modifie la propriété transition pour inclure la transformation */
	cursor: pointer; /* Ajoute un curseur au survol */
	z-index: 1; /* Définit l'ordre de superposition de l'élément */
  }
  
  .linkedin-link:hover {
	transform: translateY(-50%) rotate(-90deg) scale(1.1); /* Augmente la taille de l'élément lorsqu'on hover */
	color:#76453B;
	font-weight: 700;
  }
