body {
	background-color: F8FAE5;
	margin: 0;
	font-family: "Poppins", sans-serif;
	height: 100vh;
	}

  .container {
	display: flex;
	align-items: center;
	height: 100vh;
	overflow: hidden;
  }
  
  .scroll {
	white-space: nowrap;
	margin: 0 2em;
  }
  
  .scroll div {
	display: flex;
	gap: 2em;
  }
  
  .scroll p {
	font-size: 8em;
	color: #76453B;
	font-weight: bold;
	margin-bottom: 0%;
	line-height: 10px;
  }
  
  .RightToLeft {
	animation: RightToLeft 10s infinite linear;
  }
  
  @keyframes  RightToLeft {
	from {
	  transform: translateX(0%);
	}
	to {
	  transform: translateX(-50%);
	}
  }
  
  .LeftToRight {
	animation: LeftToRight 10s infinite linear;
  }
  
  @keyframes  LeftToRight {
	from {
	  transform: translateX(-50%);
	}
	to {
	  transform: translateX(0%);
	}
  }
